@import "./variables";

/*--------------------------------------------------------------
# Archive
--------------------------------------------------------------*/


.article-container:first-child {
	margin-top: 0;
}
.archive-page > .featured-image {
	&.main-featured-image {
		position: relative;
		overflow: hidden;
		&:before {
			content: '';
			padding-bottom: 56.25%;
			display: block;
		}
		> img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
		}
	}
}
.listed-post{
	.featured-image {
		img {
			transform: translate3d(-50%, -50%, 0) scale(1);
			transform-origin: 50% 50%;
			transition: $smooth-transition;
			backface-visibility: hidden;
		}
		#{$active} {
			img {
				transform: translate3d(-50%, -50%, 0) scale(1.05);
			}
		}
	}
}

.article-container {
	padding-left: 0;
	padding-right: 0;
	margin-top: 1.5rem;
	@media screen and (min-width: $vp_sm) {
		/* First 2 .article-container(s)  */
		&:nth-child(-n + 2) {
			margin-top: 0;
		}
	}
	@media screen and (min-width: $vp_sm) {
		/* Odd .article-container(s) */
		&:nth-child(2n + 1) {
			.hentry {
				margin-right: 1.5rem;
			}
		}
	
		/* Even .article-container(s) */
		&:nth-child(2n) {
			.hentry {
				margin-left: 1.5rem;
			}
		}
	}
	.hentry {
		min-height: 100%;
		padding: 0;
		margin-bottom: 0;
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			&,
			.post-body {
				display: block !important;
			}
		}
		.featured-image {
			margin-bottom: 0;
		}
	}
	.post-body {
		padding: 1.5rem;
		flex: 1;
	}
	.entry-header {
		margin-bottom: 1em;
	}
	.post-category {
		margin-right: 2em;
	}
}

.archive-description {
	font-size: 2.5rem;
	margin-top: 1.5rem;
	> :first-child {
		margin-top: 0;
	}
	> :last-child {
		margin-bottom: 0;
	}
}

.post-body {
	&.d-flex {
		.entry-footer {
			margin-top: auto;
			padding-bottom: 0;
		}
	}
}

.post-link {
	align-self: flex-end;
	color: $white;
	&.material-btn{
		display: inline-block;
		text-decoration: none;
		color: $white;
		border-radius: 50%;
		padding: 0.5em; //1em
		margin-bottom: auto;
	}
	.fa-arrow-right {
		@include fontSize(27px);
		transform: translateZ(0);
		@include smoother-transition;
	}
	#{$active} {
		.fa-arrow-right {
			color: $white;
			transform: translateZ(0) translateX(0.16em);
		}
	}
}

.site-main {
	.posts-navigation {
		margin-top: 5em;
	}
}

.nav-links {
	@include fontSize(32px);
}



/*--------------------------------------------------------------
## Category Archive.
--------------------------------------------------------------*/
.archive-wrapper {
	.page-header {
		margin-bottom: 0;
		z-index: 1;
		position: relative;
	}
	&:not(:first-of-type) {
		margin-top: 1.5rem;
	}
}
.ctnr-archive-title {
	.collapse-control-indicator {
		font-size: 4rem;
		padding: 0.25em;
	}
}
