@import "./variables";

// Button sizes

.xten-btn {
	padding: .25em .5em;
	border: 1px solid rgba(255, 255, 255, 0);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	display: inline-block;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	text-decoration: none;
	max-width: 100%;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);

	&:hover,
	&:focus {
		transform: translate3d(0, .1em, 0);
		box-shadow: 0 .3em .3em rgba(0, 0, 0, 0.5);
		text-decoration: none;
		outline: 0;
		filter: brightness(1.2);
	}

	&.xten-btn-outline {
		&:hover,
		&:focus,
		&:active {
			color: $white;
		}
	}

	font-size: 2rem;
	&.xten-btn-sm {
		font-size: 1.6rem;
	}
	&.xten-btn-lg {
		font-size: 2.4rem;
	}
}

.btn {
	font-size: 2rem;
	padding: .5em;
	display: inline-block;
	line-height: 1;
	@include smoothest-transition;
	&.btn-xs {
		font-size: 1.2rem;
	}
	&.btn-sm {
		font-size: 1.6rem;
	}
	&.btn-lg {
		font-size: 2.5rem;
	}
	&.btn-xl {
		font-size: 3rem;
	}
}