@import "./variables";

/*--------------------------------------------------------------
# Color System
--------------------------------------------------------------*/
@each $name, $color in $color-array {
	.has-#{$name}-color {
		color: $color;
	}

	a.has-#{$name}-color,
	a.has-#{$name}-color:hover,
	a.has-#{$name}-color:active,
	a.has-#{$name}-color:focus {
		color: $color;
	}

	.has-#{$name}-background-color {
		background-color: $color;
	}

	.has-#{$name}-border-color {
		border-color: $color;

		&.xten-btn-outline {
			background-color: rgba(255, 255, 255, 0);

			&:hover,
			&:focus,
			&:active {
				background-color: $color;
			}
		}
	}
}

$primary-light-static: rgb(17, 56, 82);
$primary-light: var(--xten-theme-color-light);
$primary-static: rgb(17, 56, 82);
$primary: var(--xten-theme-color, $primary-static);
$primary-dark: var(--xten-theme-color-dark);
$secondary-light-static: rgb(255, 205, 99);
$secondary-light: var(--xten-secondary-theme-color-light, $secondary-light-static);
$secondary: var(--xten-secondary-theme-color);
$secondary-dark: var(--xten-secondary-theme-color-dark);
$dark: var(--xten-dark);
$light: var(--xten-light);