@import "./variables";
@import "./bootstrap-overrides";
@import "./color-palette";
@import "./typography.scss";
@import "./alerts.scss";
@import "./buttons.scss";
@import "./box-shadow.scss";
@import "./color-system.scss";

//@include font-size-leading(pixel val, line height val) converts px to rem and lineheight and includes fallback px selector as well.
//ex: @include font-size-leading(24px, 1.2) will output font-size:2rem, font-size:24px, line-height .
//Colors and misc variables stored in the variables partial.

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Accessibility
# Layout
# Elements
# Links
# Forms
# Header
# Main navigation menu
# Content navigation
# Footer
# Infinite scroll

# CUSTOM
# Color
# Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	height: auto !important;
	-webkit-text-size-adjust: 100%;
	/* 2 */
}
body {
	line-height: 1.25;
	/* 1 */
}
/* Sections
   ========================================================================== */

link {
	display: none;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	color: $primary-link;
	background-color: transparent;
}

p,
#tribe-events-content,
.accordion-body {
	a {
		text-decoration: underline;

		&.xten-event-link-social {
			text-decoration: none;
		}
	}

	.upcoming-events-slide {
		a {
			text-decoration: none;
		}
	}
}

article {
	li {
		a {
			text-decoration: underline;
		}
	}
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none;
	/* 1 */
	text-decoration: underline;
	/* 2 */
	text-decoration: underline dotted;
	/* 2 */
	/* phpcs:ignore */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace;
	/* 1 */
	@include fontSize(16px);
	/* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	@include font-size-leading(16px, 1.15);

	/* 1 */
	margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
	/* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
	/* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box;
	/* 1 */
	color: inherit;
	/* 2 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	white-space: normal;
	/* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/**
 * Hide lazy load placeholders when browser does not have JS enabled.
 * Should override everything, therefore !important.
 */

.no-js .lazy {
	display: none !important;
}

/* Utility classes
   ========================================================================== */

.link-nonunderline a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
.display-flex {
	display: flex;
}
[data-toggle="collapse"] {
	cursor: pointer;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;

	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
	&:focus {
		background-color: $white;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: $primary-link;
		display: block;
		@include font-size-leading(14px, 1.5);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000;
		/* Above WP toolbar. */
	}
}

/* Do not show the outline on the skip link target. */

// #primary[tabindex="-1"]:focus {
//     outline: 0;
// }

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/

/*   Container   */
.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

/*   Container EXT   */

@media (min-width: $vp_xl) {
	.container.container-ext {
		max-width: 1440px;
	}
	.col-xxl-auto {
		flex:0 0 auto;
		width:auto;
		max-width:100%
	 }
	 .col-xxl-1 {
		flex:0 0 8.333333%;
		max-width:8.333333%
	 }
	 .col-xxl-2 {
		flex:0 0 16.666667%;
		max-width:16.666667%
	 }
	 .col-xxl-3 {
		flex:0 0 25%;
		max-width:25%
	 }
	 .col-xxl-4 {
		flex:0 0 33.333333%;
		max-width:33.333333%
	 }
	 .col-xxl-5 {
		flex:0 0 41.666667%;
		max-width:41.666667%
	 }
	 .col-xxl-6 {
		flex:0 0 50%;
		max-width:50%
	 }
	 .col-xxl-7 {
		flex:0 0 58.333333%;
		max-width:58.333333%
	 }
	 .col-xxl-8 {
		flex:0 0 66.666667%;
		max-width:66.666667%
	 }
	 .col-xxl-9 {
		flex:0 0 75%;
		max-width:75%
	 }
	 .col-xxl-10 {
		flex:0 0 83.333333%;
		max-width:83.333333%
	 }
	 .col-xxl-11 {
		flex:0 0 91.666667%;
		max-width:91.666667%
	 }
	 .col-xxl-12 {
		flex:0 0 100%;
		max-width:100%
	 }
}

@media (min-width: $vp_xxl) {
	.container.container-ext {
		max-width: 174.8rem;
	}
}

/*   /Container EXT   */
/*--------------------------------------------------------------
# Standard Reset Items
--------------------------------------------------------------*/
button,
input,
select,
optgroup,
textarea {
	color: $primary-input;
	font-family: inherit;
	line-height: $global_line_height;
}

.entry-header {
	h1 {
		&.entry-title {
			line-height: 1;
			margin-top: 0;
			margin-bottom: 0.25em;
			word-wrap: normal;
			hyphens: manual;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	> :last-child {
		margin-bottom: 0;
	}
} 

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background-color: $white;
	font-family: "Courier 10 Pitch", Courier, monospace;
	@include fontSize(16px);
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

.xdebug-error,
.xe-warning {
	@include fontSize(16px);
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	@include fontSize(12.8px);
}

abbr,
acronym {
	border-bottom: 1px dotted $gray;
	cursor: help;
}

mark,
ins {
	background-color: $light-yellow;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	margin: 0;
	color: $primary-text;
	background-color: $white;
}

// blockquote,
// q {
//     quotes: """";
// }

/*   Headings   */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.5em;
}
/*   Headings   */

hr {
	background-color: $light-gray;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin-bottom: 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	display: block;
	height: auto;
	max-width: 100%;
}

figure {
	/* Extra wide images within figure tags don't overflow the content area. */
	margin: 0.5em 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/

a {
	color: $primary-link; //#007db6;
}

a:hover,
a:focus,
a:active {
	color: $primary-link;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-radius: 3px;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $gray;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: $black;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */

.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Custom
--------------------------------------------------------------*/
.site-phone-number {
	white-space: nowrap;
}
@import "mobile-menu.scss";

/*--------------------------------------------------------------
# Commonly Used Styles
--------------------------------------------------------------*/

/* Global
	 ========================================================================== */

body {
	@media (min-width: 340px) {
		min-width: 340px;
		max-width: 100%;
		overflow-x: hidden;
	}
}

.content-wrapper {
	position: relative;
}

/* Theme Color */
.xten-theme-bg-color,
.pagination .current,
.search-form button:hover {
	background-color: $primary-link;
}

.xten-theme-color-text {
	color: $primary-link;
}

body.user-is-tabbing *:focus,
input:focus {
	outline: 2px solid $gold;
	z-index: 10;
}

.xten-highlight-font {
	font-family: "Roboto", helvetica, arial, sans-serif;
}

/* Accessibility focus elements */
// a:focus {
//     outline-color: none;
//     outline-width: 0;
// }

body.user-is-tabbing *:focus {
	outline-offset: 3px;
}

body input:focus {
	outline-offset: 0;
}

.main-navigation li:hover > ul,
.main-navigation li.toggled-on > ul {
	display: block;
}

.main-navigation:not(.has-xten-dropdown-toggle) li:focus > ul {
	display: block;
}

.main-navigation:not(.has-dropdown-toggle) li:focus-within > ul {
	display: block;
}

.input-group-append .btn,
.input-group-prepend .btn {
	z-index: 0;
}

.edit-link {
	margin-top: .5em;
	font-size: 2rem;
	display: inline-block;
}

/*   Smooth Transition    */
.smooth-transition {
	@include smooth-transition;
}
.smoother-transition {
	@include smoother-transition;
}
.smoothest-transition {
	@include smoothest-transition;
}

/* /Global
	========================================================================== */

:root {
	--card-style: #{$card-style};
}
.card-style {
	// TODO: Remove Background Color and Test.
	// Background Color could be defined with bootstrap's .bg-white;
	background-color: $white;
	@include card-style;
	&.content-area {
		padding: 1.5rem;
	}
}

/*--------------------------------------------------------------
# Content navigation
--------------------------------------------------------------*/

.post-navigation .nav-links {
	@include font-size-leading(32px, 1.5);
	word-break: keep-all;
}

/*--------------------------------------------------------------
# /Content navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Main Content
--------------------------------------------------------------*/

.content-wrapper > .main-container {

	margin-top: 3rem;
	margin-bottom: 3rem;

	@media screen and (min-width: $vp_xs) {
		margin-top: 4.5rem;
		margin-bottom: 4.5rem;
	}

	@media screen and (min-width: $vp_sm) {
		margin-top: 6rem;
		margin-bottom: 6rem;
	}
}

/*--------------------------------------------------------------
# /Main Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# style.css Overrides
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Header Search
--------------------------------------------------------------*/
.hide-me {
	display: none;
}

.header-search-toggle {
	@include fontSize(30px);
	padding: 0.1em 0.5em;
	margin-left: auto;
	border: none;
	background: none;
}

.site-header {
	.navbar {
		z-index: 4;
	}

	#header-search {
		box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56),
			0 4px 25px 0px rgba(0, 0, 0, 0.12),
			0 8px 10px -5px rgba(0, 0, 0, 0.2);
		z-index: 3;
	}

	&.fixed-header {
		#header-search {
			position: absolute;
			left: 0;
			width: 100%;
		}
	}
}

.header-search-wrapper {
	background-color: $dark-gray;
	width: 100%;
	color: $white;
	padding: 15px;
}

.close-layer-search {
	height: 100%;
	width: 100%;
	position: absolute;
	left: auto;
	top: 137px;
	background-color: rgba(0, 0, 0, 0.35);
	content: "";
	z-index: 5;
	overflow-x: hidden;
	transition: all 370ms ease-in;
	display: none;

	@media screen and (min-width: $vp_lg) {
		top: 141px;
	}

	@media screen and (min-width: $vp_xl) {
		top: 155px;
	}
}

body.os-ios .close-layer-search {
	cursor: pointer;
}

body.search-open {
	overflow-y: hidden;

	.close-layer-search {
		display: block;
	}
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.pagination {
	margin: 1.5rem auto;

	.page-item {
		font-size: 2.5rem;
		line-height: 1.5;
	}

	a {
		color: $dark-gray;

		&:visted,
		#{$active} {
			color: $dark-gray;
		}
	}

	.current {
		color: $dark-gray;
		font-size: inherit;
		@include card-style;
		border-color: $dark-gray;

		#{$active} {
			color: $white;
		}
	}
}
.page-item {
	.page-link {
		font-size: inherit;
		line-height: inherit;
	}
}
.page-link {
	#{$active} {
		color: inherit;
	}
}
/*--------------------------------------------------------------
# Content navigation
--------------------------------------------------------------*/
$nav-link-bp: 475px;

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin-top: 3rem;
	overflow: hidden;
}

.nav-links {
	display: flex;
	justify-content: space-between;
	> [class*="nav"] {
		max-width: 35rem;
		a {
			@include card-style;
			transition: $smooth-transition;
			padding: 1.5rem;
			display: block;
			text-decoration: none;
			min-height: 100%;
			#{$active} {
				box-shadow: 0 0.15rem 0.3rem rgba(15, 15, 15, 0.55);
			}
		}
	}
}

.nav-link-label {
	width: 100%;
	text-align: center;
	font-weight: 700;
	margin-bottom: 1.5rem;
	padding-bottom: 1.5rem;
	border-bottom: 0.1em solid $gray-100;
	display: flex;
	align-items: center;
	@media ( min-width: $nav-link-bp ) {
		display: block;
	}
}
.nav-link-label-text {
	display: inline-block;
	max-width: 7.5em;
	margin-left: auto;
	margin-right: auto;
	@media ( min-width: $nav-link-bp ) {
		max-width: none;
	}
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 50%;
	flex: 1 0 50%;
	margin-right: auto;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
	margin-left: auto;
}

.post-navigation-sub span {
	color: $white;
	text-decoration: none;
	display: inline-block;
}

.posts-navigation,
.post-navigation {
	overflow: visible !important;

	.nav-links {
		.nav-link-label-icon {
			transition: $smooth-transition;
		}

		.nav-previous {
			a {
				#{$active} {
					.nav-link-label-icon {
						transform: translateX(-0.25em);
					}
				}
				.nav-link-label-icon {
					padding-right: 0.25em;
					float: left;
				}
			}
		}
		.nav-next {
			a {
				justify-content: flex-end;
				#{$active} {
					.nav-link-label-icon {
						transform: translateX(0.25em);
					}
				}

				.nav-link-label-icon {
					float: right;
					padding-left: 0.25em;
				}
			}
		}
		.ctnr-nav-title {
			display: flex;
			align-items: center;
			text-align: center;
			// flex: 1;
			min-height: 100%;
			.nav-title {
				margin-left: auto;
				margin-right: auto;
				word-break: normal;
			}
		}
	}
}
/*--------------------------------------------------------------
# /Content navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Search Form
--------------------------------------------------------------*/
.search-form {
	input,
	button {
		@include font-size-leading(24px, 1.1);
	}

	input {
		border: 1px solid #cecece;
	}

	button {
		color: $white;

		&:hover {
			opacity: 0.8;
		}
	}
}
/*--------------------------------------------------------------
# /Search Form
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Page Content
--------------------------------------------------------------*/
#page {
	min-height: 100vh;
	position: relative;
	background-color: $gray100;

	.page-wrapper {
		position: relative;
		top: 0;
	}
}

article.page {
	margin: 0;

	.entry-title {
		margin-bottom: 0.5em;
	}

	.entry-content {
		word-wrap: break-word;

		blockquote {
			padding: 15px;
			margin-bottom: 15px;
		}
	}
}

.material-btn {
	box-shadow: 0 0.25em 0.35em 0.025em rgba(0, 0, 0, 0.35);
	transition: box-shadow 0.3s ease,
		opacity 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);

	&:hover {
		opacity: 0.8;
		box-shadow: 0 0.25em 0.35em 0.025em rgba(0, 0, 0, 0.75);
	}
}

/*--------------------------------------------------------------
# /Page Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
	position: relative;
	background: linear-gradient(
		to bottom,
		rgba(0, 45, 115, 1) 0%,
		rgba(0, 23, 58, 1) 100%
	);
	.footer-container {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
	.custom-logo-link {
		display: inline-block;
		&.logo-type-site-name {
			font-size: 3rem;
		}
	}
	.site-logo {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.custom-logo {
		max-width: 100%;
	}
	/* Social Media Icons Styles */
	.widget_sb_social_profile {
		margin: 15px 0;
		text-align: center;
		@media (min-width: $vp_lg) {
			margin: 0;
		}
	}
	.site-logo-wrapper {
		width: 100%;
	}

	// TODO: Remove .site-footer-content when updating Social Media Links to component-based.
	.site-footer-content {
		display: flex;
		flex-flow: column;
		padding: 0;
		margin-top: 3rem;
		@media (min-width: $vp_sm) {
			flex-flow: row;
		}
		@media (min-width: $vp_m) {
			flex-flow: row;
		}
		.social-media-wrapper {
			width: 80%;
			text-align: center;
			@media (min-width: $vp_sm) {
				width: 60%;
			}
			@media (min-width: $vp_m) {
				width: 55%;
				order: 1;
			}
			@media (min-width: $vp_lg) {
				width: 40%;
			}
			@media screen and (min-width: $vp_xl) {
				width: 50%;
			}

			.social-icons {
				position: relative;
				display: flex;
				margin-left: auto;
				margin-right: auto;
				a {
					display: block;
					padding: 0;
					opacity: 0.5;
					transition: $smooth-transition;
					&:focus,
					&:hover,
					&:active {
						opacity: 1;
						text-decoration: none;
						border-radius: 50%;
					}
					@media (min-width: $vp_sm) {
						margin: 0;
						font-size: 3.312rem;
					}
				}
				.sr-only {
					display: none;
				}
			}
		}
	}
	.xten-logo-svg {
		flex: 1;
		max-width: 15rem;
		flex-basis: 15rem;
		min-width: 15rem;
		min-height: 15rem;
		@media (min-width: $vp_xs) {
		}
		@media (min-width: $vp_sm) {
			max-width: 18.5rem;
			flex-basis: 18.5rem;
		}
		@media (min-width: $vp_m) {
			max-width: 21rem;
			flex-basis: 21rem;
		}
		@media screen and (min-width: $vp_lg) {
			max-width: 25rem;
			flex-basis: 25rem;
		}
	}

	.site-info-footer-wrapper {
		border-top: 1px solid rgba(123, 123, 123, 0.5);
		padding-bottom: 1.5rem;
		padding-top: 1.5rem;
		width: 100%;
	}
	.site-info {
		margin-left: auto;
		margin-right: auto;
		color: white;
		font-family: Roboto, helvetica, arial, sans-serif;
		text-align: left;
		@media (min-width: $vp_xxs) {
			text-align: center;
		}
		@media (min-width: $vp_xs) {
			width: 70%;
			line-height: 1.5;
		}
		@media (min-width: $vp_sm) {
			width: 100%;
			line-height: 1;
		}
		.widget,
		p {
			margin: 0;
		}
	}
}
.footer-content-wrapper {
	padding: 0;
	color: white;
	flex-direction: column;
	> * {
		padding: 0;
		width: 100%;
		position: relative;
		@media (min-width: $vp_xs) {
			width: auto;
			min-width: 50%;
		}
		@media (min-width: $vp_m) {
			min-width: 50%;
			padding: 0;
		}
		@media (min-width: $vp_lg) {
			min-width: 25%;
			margin-bottom: 0;
		}
	}
	a,
	a:hover {
		color: white;
	}
}
.site-info {
	font-size: 1.4rem;
	a {
		&,
		&:hover {
			color: #cc9d0d;
		}
	}
}

/*   /Footer Styles   */

/* Social Media Icons Styles */
.social-icons {
	position: relative;
}

.sr-only {
	display: none;
}

.social-icons a {
	font-size: 6rem;
	display: inline-block;
	opacity: 0.5;
	transition: $smooth-transition;
	&:focus,
	&:hover,
	&:active {
		opacity: 1;
	}
}

.social-icons a:hover {
	text-decoration: none;
	border-radius: 50%;
}

/* /Social Media Icons Styles */

/*--------------------------------------------------------------
# Fontawseome Icons
--------------------------------------------------------------*/
.social-icon {
	margin-right: 15px;

	&:hover {
		opacity: 0.8;
		text-decoration: none;
	}
}

// /*--------------------------------------------------------------
// # Bootstrap Override
// --------------------------------------------------------------*/

// /*--------------------------------------------------------------
// # page-template-full-width-blank-template-php
// --------------------------------------------------------------*/

.page-template-full-width-blank-template .content-wrapper > .main-container {
	padding-top: 0;
	padding-bottom: 0;

	#primary {
		padding-left: 0;
		padding-right: 0;
	}
}

.page-template-full-width-blank-template article.page {
	padding: 0;
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# Password Protected pages
--------------------------------------------------------------*/

.post-password-form {
	input[type="submit"] {
		@include font-size-leading(16px, 1.5);
	}
}

.xten-hero .hero-section-content {
	@media screen and (max-width: $vp_xs) {
		padding: 0 !important;
	}
}

.collapse-control-indicator {
	transform-style: preserve-3d;
}
[data-toggle="collapse"] {
	&[aria-expanded="true"] {
		.collapse-control-indicator {
			&.fa-chevron-down {
				transform: scaleY(-1) translateZ(0);
			}
		}
	}
}
.collapse-control-indicator {
	@include smoother-transition;
	transform: scaleY(1) translateZ(0);
}

.xten-accordion {
	transition: $smooth-transition;
	#{$active} {
		box-shadow: 0 .2rem .4rem .1rem rgba(15, 15, 15, .5);
		.collapse-control-indicator {
			transform: scaleY(1) translate3d(0, .1em, 0);
		}
	}
	&[aria-expanded="true"] {
		#{$active} {
			.collapse-control-indicator {
				transform: scaleY(-1) translate3d(0, .1em, 0);
			}
		}
	}
}

.nowrap-parent {
	> * {
		display: inline-block;
	}
}

.landscape-img {
	display: block;
	position: relative;
	overflow: hidden;
	&:before {
		content: "";
		display: block;
		padding-bottom: 56.25%;
	}
	> * {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}
}

body {
	&.browser-ie {
		img {
			&.object-fit-cover {
				&.wide {
					width: auto;
					height: auto;
					min-height: 100%;
				}
				&.tall {
					width: auto;
					height: auto;
					min-width: 100%;
				}
			}
		}
	}
	&.mouse-detected {
		.hide-if-mouse {
			display: none;
		}
	}
	&:not(.mouse-detected) {
		.hide-if-no-mouse {
			display: none;
		}
	}
}