@import "./variables";
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

//IE 11 only
@media screen and (max-width: $vp_xs) {
	:root .site-name,
	_:-ms-fullscreen {
		top: 12px;
		font-size: 0.95rem !important;
	}
}
@media screen and (min-width: $vp_sm) {
	:root .site-name,
	_:-ms-fullscreen {
		top: 9px;
	}
}
/*--------------------------------------------------------------
 Translate
--------------------------------------------------------------*/
.goog-te-gadget-simple {
	display: flex !important;
	flex-direction: row;
	> span {
		align-self: center;
	}

	> span a {
		display: flex;
		flex-direction: row;

		img {
			display: none;
		}

		span {
			border: none !important;
		}
	}
}

/*--------------------------------------------------------------
## Main navigation menu
--------------------------------------------------------------*/

.header-wrapper {
	position: fixed;
	width: 100%;
	min-width: 350px;
	top: 0;
	left: 0;
	z-index: 8000;

	.site-header {
		box-shadow: 0 0.6rem 0.9rem rgba(0, 0, 0, 0.16);
		transition: all 0.15s $smooth_transition;

		.navbar {
			padding: 0;

			.header-container {
				display: flex;
				align-items: center;
				flex-wrap: nowrap;
				width: 100%;
				padding-top: 1.5rem;
				padding-bottom: 1.5rem;

				.site-branding {
					margin-right: 1.5rem;
					text-align: left;
					line-height: 0;
					width: auto;
					flex: 1;
					@media screen and (min-width: $vp_sm) {
						width: auto;
					}

					.custom-logo-link {
						display: inline-block;
						margin: 0 auto;
						max-width: 100%;
						text-decoration: none;
						&:focus,
						&:hover {
							text-decoration: none;
						}

						.custom-logo {
							display: flex;
							align-items: center;
							width: auto; //100%;
							max-width: 100%;

							@media screen and (min-width: $vp_sm) {
								width: auto;
							}

							.xten-logo-svg {
								width: 13.75rem; //20.34rem
								height: auto; //14.817rem
								margin-top: -0.5rem;
								z-index: 1;
								@media (min-width: $vp_xs) {
									width: 12.75rem;
								}
							}

							.site-name {
								font-family: "Times New Roman", Times, serif;
								line-height: 1;
								border-left: 1px solid;
								flex: 1;
								white-space: normal;
								padding: 0 0 0 0.6053em;
								@include fontSize(20px);
								@media (min-width: $vp_xs) {
									@include fontSize(25px);
									flex: initial;
									white-space: nowrap;
									max-width: none;
									padding-top: 0.0915em;
									padding-bottom: 0.0915em;
								}
							}

							&.child-logo {
								svg {
									height: auto;
								}
							}
						}
					}
				}

				.main-navigation {
					clear: both;
					padding: 0 1em;
					// font-family: "Roboto", helvetica, arial, sans-serif;
					font-size: inherit;
					max-width: 85%;

					.menu,
					.sub-menu {
						list-style-type: none;
					}

					a {
						display: block;
						width: 100%;
						text-decoration: none;
						&,
						&:active,
						&:focus,
						&:hover {
							color: inherit;
						}
					}

					.menu-item,
					.page_item {
						> a[href="#"] {
							cursor: default;
						}
					}

					> ul {
						display: flex;
						flex-wrap: wrap;
						justify-content: flex-end;
						list-style: none;
						margin: 0;
						padding: 0;

						li {
							display: flex;
							align-items: center;
							margin-left: 1em;

							&.hidden-desktop {
								display: none;
							}
							@media screen and (min-width: $vp_lg) {
								margin-left: 1.25em;
							}
							@media screen and (min-width: $vp_xl) {
								margin-left: 1.5em;
							}

							a {
								position: relative;
								&:focus,
								&:hover,
								&.open {
									text-decoration: none;
									&:before {
										transform: scaleX(1) translateZ(0);
									}
								}
								&:before {
									content: "";
									display: block;
									position: absolute;
									width: 100%;
									height: 0.1535rem;
									bottom: 0.25rem;
									left: 0;
									right: 0;
									background-image: linear-gradient(
										88deg,
										rgba($gold, $opacity_zero),
										$gold 20%,
										$gold 80%,
										rgba($gold, $opacity_zero)
									);
									transform: scaleX(0) translateZ(0);
									transition: $smooth_transition;
								}
							}

							&:first-child {
								margin-left: 0;
							}

							> ul.sub-nav,
							> div.sub-nav {
								display: none;
								position: absolute;
								flex-direction: column;
								background-color: #efefef;
								border: none;
								box-shadow: 0 0.6rem 0.5rem 0 rgba(0, 0, 0, 0.1);
								margin: 0;
								opacity: 0;
								transform: translate(0, 1rem);
								transition: opacity 200ms ease-in,
									transform 200ms ease-in,
									visibility 200ms ease-in;
								visibility: hidden;
								top: 100%;

								&.open {
									display: block;
									opacity: 1;
									transform: translate(0, 0);
									visibility: visible;
								}

								a {
									color: $blue;
								}
							}

							&.menu-type-flyout {
								@media all and (-ms-high-contrast: none),
									(-ms-high-contrast: active) {
									position: relative;

									.sub-menu {
										left: 0;
									}
								}
								// Flyout UL
								.sub-menu {
									padding: 0;
									width: 20rem;
									li {
										padding: 0;
										margin-left: 0;

										a {
											font-size: 1.4rem;
											font-weight: normal;
											padding: 0.5em 1em;

											&:hover {
												background-color: #dadada;

												&:before {
													display: none;
												}
											}
										}
									}
								}
							}

							&.menu-type-mega-menu {
								.sub-nav {
									margin: 0 auto;
									padding: 0;
									width: 100%;
									left: 0;

									.inner-sub-nav-wrapper {
										max-width: 1748px;
										margin: 0 auto;
										padding: 1rem 1rem 0;

										.sub-nav-group {
											flex: 1;
											padding: 3rem;

											&.hidden-desktop {
												display: none;
											}

											.column-wrapper {
												&.has-heading {
													.mega-menu-heading {
														display: block;
														font-size: 2.4rem;
														line-height: 1;
														font-weight: bold;
														color: #596068;
														width: 100%;
														border-bottom: 1px solid
															#c6c6c6;
														padding-bottom: 0.4375em;
														margin-bottom: 0.8541666em;
													}

													.links {
														a {
															font-size: 1.6rem;
															margin-bottom: 0.65625em;
														}
													}
												}

												.links {
													padding: 0;

													li {
														margin: 0;
													}

													a {
														font-size: 2rem;
														line-height: 1;
														font-weight: bold;
														margin-bottom: 0.75em;
														width: auto;
														&:before {
															content: none;
														}
													}
												}

												a {
													color: #2e528a;

													&:hover {
														text-decoration: underline;
													}
												}
											}
										}
									}
								}
							}

							&.menu-type-flyout,
							&.menu-type-mega-menu {
								> a {
									padding: 0.5em;
								}
							}

							&.current-menu-item,
							&.current_page_item {
								> a {
									&:before {
										transform: scaleX(1) translateZ(0);
									}
								}
							}
						}

						.menu-item-has-children,
						.menu-type-mega-menu,
						.page_item_has_children {
							padding-right: 0.5em;

							.dropdown {
								display: block;
								@include font-size-leading(12px, 1);
								line-height: inherit;
								color: inherit;
							}
						}
					}
				}
			}
		}
	}
}

// Internet & Intranet Header
#menu-wrapper {
	/*   Standard IntERnet Header   */
	&.xten-standard-internet-header {
		.site-header {
			@at-root .mobile-sidebar-top,
				& {
				background-color: #2e528a;
			}
		}

		.xten-header {
			background-color: $gray;
		}

		.custom-logo {
			.site-name {
				color: $white;
				border-color: $white;
			}
		}

		.xten-logo-svg .mod-fill-elem {
			fill: $white;
		}

		.header-search-toggle i,
		.main-navigation > ul > li > a,
		.main-navigation > ul > li > span.dropdown {
			color: $white;
		}

		.main-navigation {
			.menu {
				> li {
					&.current-menu-item,
					&.current_page_item {
						> a {
							&:before {
								background-image: linear-gradient(
									88deg,
									rgba($white, $opacity_zero),
									$white 20%,
									$white 80%,
									rgba($blue, $opacity_zero)
								);
							}
						}
					}
				}
			}
		}

		.header-search-toggle {
			i {
				color: $white;
			}
		}
	}

	/*   /Standard IntERnet Header   */
	/*   Standard IntRAnet Header   */
	&.xten-standard-intranet-header {
		.site-header {
			background-color: $white;
		}

		.xten-header,
		.mobile-sidebar .xten-header {
			background-color: #2e528a;
		}

		.custom-logo {
			svg.xten-logo-svg {
				path.st0 {
					fill: #002d73;
				}
			}

			.site-name {
				color: $blue;
				border-color: $blue;
			}
		}

		.xten-logo-svg .mod-fill-elem {
			fill: $blue;
		}

		.header-search-toggle i {
			color: $blue;
		}

		.main-navigation {
			.menu {
				> li {
					color: $blue;

					&.current-menu-item,
					&.current_page_item {
						> a {
							&:before {
								background-image: linear-gradient(
									88deg,
									rgba($blue, $opacity_zero),
									$blue 20%,
									$blue 80%,
									rgba($blue, $opacity_zero)
								);
							}
						}
					}
				}
			}
		}
	}
	/*   /Standard IntRAnet Header   */
}

.desktop-navigation,
.header-search-toggle,
.xten-header-inner {
	display: none;
}

.xten-mobile-menu-active {
	.desktop-navigation,
	.header-search-toggle,
	.xten-header-inner,
	.xten-mobile-menu-active-hide {
		display: none;
	}
	.xten-mobile-menu-active-show {
		display: block;
	}
}

.xten-mobile-menu-inactive {
	.desktop-navigation,
	.header-search-toggle,
	.xten-mobile-menu-inactive-show {
		display: block;
	}
	.xten-mobile-menu-inactive-hide {
		display: none;
	}

	.xten-header-inner {
		display: flex;
	}
}

/* Translate */
html.translated-ltr .header-wrapper,
html.translated-ltr .mobile-sidebar {
	top: 38px;
}
